extends layout

block body
  img(src="/SharpTunes.png")
  div Drag and Drop music to share and play
  div
    audio(id=player)
    button#mute Mute
  .peers
  .playlist

  footer
    center copyright 2014 Caktus Group
