extends layout

block body
  img(src="/SharpTunes.png")
  h2 Play Music
  div
    audio(id=player)
    button#mute Mute
  h3 Playlist
  .peers
  .playlist

  footer
    center copyright 2014 Caktus Group
